Binaries
DerivedDataCache
Intermediate
Saved
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Config/DefaultEngine.ini
Config/DefaultInput.ini
Content/Untitled.umap
PruebasMW.uproject
*.uasset
*.uasset
